* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.side{
  display: flex;
  height: auto;
  flex-direction: column;
  padding:  0 0 80% 0;
  width: 5.3rem;
  background-color: #112949;
  
  
}
.logo-side{
  margin: auto;
  padding: 1rem 0;
}
.logo-side img {
  height: 50px;
  width: 50px;
}
.box{
  height: 45px;
  width:45px;
  background-color: rgb(201, 161, 168);
  margin:1rem auto;
  cursor: pointer;
  
}
.clients-company {
  height: auto;
  width: 100%;
  display: flex;
  border: 1px solid green;
  margin-left: 5rem;
}
.clients {
  width: 28%;
  height: auto;
  padding: 0.5rem;
}
.about-company-container {
  width: 72%;
  height: auto;
}

.navbar-nav .nav-item a {
  color: #3cc3f2 !important;
}
.down-arrow img {
  height: 25px;
  width: 25px;
}
.loggedIn {
  height: 8vh;
  width: 100%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
}

#logout{
  position: relative;
}
.log-out{
  display: none;
  position: absolute;
  top: 3rem;
  
}
.log-out h5 a{
  text-decoration: none;
}

#logout:hover ~ .log-out{
   display: block;
   
}

.name-avatar {
  display: flex;
  align-items: center;
}
#avatar_img {
  height: 40px;
  width: 40px;
}
.about-company {
  height: auto;
  width: 100%;
}
.company-name-editbtn {
  display: flex;
  justify-content: space-between;
  padding: 10px 1rem;
  border: 1px solid lightgray;
}
.company-name-editbtn img {
  height: 45px;
  width: 45px;
}
.company-code-logo {
  padding: 0.5rem 1rem;
}
.signpdf{
  margin-left: 2rem;
}
.signpdf p span{
  color: #3cc3f2;

}

.Domains {
  display: flex;
  height: auto;
  width: 100%;
  border: 1px solid lightgray;
}
.Domains span {
  color: #9cbdeb;
  font-size: 0.9rem;
}
.domains-types {
  margin-left: 30%;
}
.domains-types .ul-list {
  list-style-type: none;
}
.types-ul-list {
  display: flex;
  list-style: none;
  border-bottom: 1px solid lightgray;
}
.types-ul-list li {
  padding-left: 10px;
}
.biling-details ul {
  list-style-type: none;
}
.biling-details ul li {
  font-size: 0.95rem;
}

/* accordian  */
.accordians ul {
  list-style-type: none;
}
.accordians ul li {
  color: gray;
  font-size: 0.95rem;
}
.accordians ul li span {
  color: #112949;
  font-size: 0.85rem;
  padding: 10px;
}
#editButton {
  font-size: 1.8rem;
  padding: 0.4rem 1rem;
  color: #3cc3f2;
  border: none;
  background: transparent;
}
#ez_logo{
  display: none;
}
/* responsiveness for smartphone  */
@media screen and (max-width: 400px) {
  .logo { 
    display: none;
  }
  .clients-company {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border: 1px solid green;
    margin: 0;
  }
  .clients {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    
  }
  .about-company-container {
    width: 100%;
    height: auto;
    
  }
  /* loggedIn page  */
  .loggedIn {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112949;
    color: #ffff;
  }
  .loggedIn img {
    display: block;
  }
  #ez_logo{
    height: 30px;
    width: 30px;
    display: block;
  }
  .name-avatar {
    display: flex;
    align-items: center;
  }

  .name-avatar h5 {
    font-size: 1rem;
  }
  #avatar_img {
    height: 28px;
    width: 28px;
  }
  /* about company details  */
  .company-name-editbtn h5 {
    font-size: 1rem;
  }

  /* domains types  */
  .domains-types {
    margin-left: 10%;
  }

  .types-ul-list {
    padding-left: 0;
  }
  .types-ul-list li {
    font-size: 1rem;
    padding-left: 1.2rem;
  }
  .add-entity h5{
    font-size: 1.2rem;
  }
  .biling-details ul li{
   display: none;
  }
  .company1{
    flex-direction: column;
  }
  /* accordian body  */
   .accordion-body{
    width: 100%;
    display: flex;
  flex-direction: column;
   }
  .accordion-body > div{
    border-bottom: 1px solid lightgray;
    width: 100%;
  }
  .table{
    width: 100%;
  }
  .table thead tr th{
    font-size: 0.8rem;
  }
  .table tbody tr td{
    font-size: 0.6rem;
  }
  .navbar-links{
    display: flex;
    flex-wrap: nowrap !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  /* search box  */
  .search-box button i{
    padding: 0 0.5rem;
  }
  .form-control{
    font-size: 0.8rem;
  }
  /* select date  */
  .form-select{
    font-size: 0.8rem;
  }
 
  .users{
    margin-top: -1rem;
  }
  .side{
    display: none;
  }
}